<nav class="navbar">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo Agritech Vision" class="logo-img" />
    <a routerLink="/">Agritech Vision</a>
  </div>

  <div class="menu">
    <div class="menu-links">
      <a routerLink="/">Accueil</a>
      <a routerLink="/about">À propos</a>
      <a routerLink="/contact">Contact</a>
    </div>

    <!-- Si l'utilisateur est connecté, afficher le menu déroulant "Mon compte" -->
    <div *ngIf="isAuthenticated" class="dropdown">
      <button class="log-in">Mon Compte</button>
      <div class="dropdown-menu">
        <a routerLink="/profile">Profil</a>
        <a (click)="logout()">Déconnexion</a>
      </div>
    </div>

    <!-- Si l'utilisateur n'est pas connecté, afficher le bouton "Se connecter" -->
    <button *ngIf="!isAuthenticated" routerLink="/login" class="log-in">Se connecter</button>
    <button *ngIf="!isAuthenticated" routerLink="/register" class="log-in">S'inscrire</button>
  </div>

  <div class="menu-btn">
    <i class="fa-solid fa-bars"></i>
  </div>
</nav>
