/* Conteneur principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Ajustement de la hauteur totale
  background-color: #f5f5f5;
}

/* Suppression des marges automatiques */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; // Pour éviter le défilement horizontal
}

/* Boîte de connexion */
.login-box {
  background: #ffffff;
  padding: 2.5rem 3rem;
  border: 1px solid gray;
  border-bottom: 3px solid #145a32;
  border-top: 3px solid #145a32;
  border-radius: 10px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;
  max-height: 600px;
  text-align: center;

  .logo img {
    width: 100px;
    margin-bottom: 1.5rem;;
  }

  h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .textbox {
    margin-bottom: 15px;
    text-align: left;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      color: #555;
      font-size: 16px;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
      box-sizing: border-box;
    }
  }

  .password-container {
    position: relative;

    .password-toggle {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 20px;
      padding-top: 16px;
    }
  }

  .btn {
    width: 100%;
    padding: 10px;
    background-color: #145a32;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }

  .signup-link {
    margin-top: 23px;
    font-size: 14px;
    color: #777;

    a {
      color: #0069d9;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* Variables plus visuelles */
:root {
  --notification-background: #0284c7;  /* Bleu vif */
  --notification-primary: #f1f5f9;     /* Blanc cassé */
  --notification-success: #22c55e;    /* Vert vif */
  --background: #1e293b;              /* Bleu foncé */
}

/* Notifications */
.notification {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #313e2c;
  color: #aaec8a;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fade-in 3s linear;
}

.notification__icon {
  height: 1.625rem;
  width: 1.625rem;
  margin-right: 0.5rem;
}

.notification__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification__progress {
  height: 0.25rem;
  background: linear-gradient(to right, #313e2c, #aaec8a);
  animation: progress 2.5s 0.3s linear;
  border-radius: inherit;
  margin-top: 0.5rem;
}

@keyframes fade-in {
  5% {
    opacity: 1;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progress {
  to {
    transform: scaleX(1);
  }
}


}
